    html,
    body,
    #viewDiv {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    .offscreen {
        clip-path: inset(100%);
        clip: rect(1px 1px 1px 1px);
        /* IE 6/7 */
        clip: rect(1px, 1px, 1px, 1px);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        /* added line */
        width: 1px;
    }

    esri-popup:focus {
        border: 2px solid rgb(94, 158, 214);
    }

    .hidden {
        display: none;
    }

    .live-info {
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;
        height: auto;
        margin: 0 auto;
        background: white;
        z-index: 1;
        font-size: 15px;
        padding: 1em;
    }

    .feature-index {
        background-color: #333;
        color: #fff;
        padding: 2px 4px;
        margin-right: 4px;
        font-weight: bold;
        min-width: 12px;
        text-align: center;
        border-radius: 8px;
    }

    .feature-label {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-right: 3px;
    }

    .detail-info {
        padding: 13px 11px;
        line-height: 1.5em;
        margin-bottom: 1em;
    }

    .directions-info {
        position: absolute;
        bottom: 0;
        right: 3px;
        color: #4d4d4d;
    }

    .esri-expand__content .esri-widget {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .driving-details {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .panel {
        max-height: 40%;
        min-height: 20%;
        overflow: auto;
    }

    #directionsList {
        overflow: auto;
    }